
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArticleLabel" translate="admApp.article.home.createOrEditLabel">Create or edit a Article</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="article.id" readonly />
        </div>
        <div class="form-group">
            <label translate="admApp.article.number" for="field_articel_number">Name</label>
            <input type="text" class="form-control" name="name" id="field_articel_number"
                   ng-model="article.articelNumber"
            />
        </div>
        <div class="form-group">
            <label translate="admApp.article.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="article.name"
                     />
        </div>
        <div class="form-group">
            <label translate="admApp.article.description" for="field_description">Description</label>
            <textarea type="text" class="form-control" name="description" id="field_description"
                    ng-model="article.description" rows="10" cols="50" ui-tinymce />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4000">
                    This field cannot be longer than 4000 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="admApp.article.fullDescription" for="field_full_description">Description</label>
            <textarea type="text" class="form-control" name="fullDescription" id="field_full_description"
                   rows="10" cols="50" ng-model="article.fullDescription" ui-tinymce
                   />
            </div>
        </div>

        <div class="form-group">
            <label translate="admApp.article.imageURL" for="field_imageURL">ImageURL</label>
            <input type="text" class="form-control" name="imageURL" id="field_imageURL"
                    ng-model="article.imageURL"
                     />
        </div>
        <div class="form-group">
            <label translate="admApp.article.keyWords" for="field_keyWords">KeyWords</label>
            <input type="text" class="form-control" name="keyWords" id="field_keyWords"
                    ng-model="article.keyWords"
                     />
        </div>

        <div class="form-group">
            <label translate="admApp.article.displayedOnHomepage" for="field_displayedOnHomepage">Homepage</label>
            <input type="checkbox" class="form-control" name="showedOnHomepage" id="field_displayedOnHomepage"
                   ng-model="article.showedOnHomepage"
                />
        </div>
        <div class="form-group">
            <label translate="admApp.article.variantArticles" for="field_variantArticles">Variants</label>
            <!--<multiple-autocomplete ng-model="article.variantArticles" id="field_variantArticles"-->
                                   <!--object-property="articelNumber"-->
                                   <!--suggestions-arr="optionsList">-->
            <!--</multiple-autocomplete>-->
            <ui-select id="field_variantArticles" multiple ng-model="article.variantArticles" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" style="width: 300px;" title="Choose a color">
                <ui-select-match placeholder="Select products...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="product in optionsList | filter:$select.search">
                    {{product.name}}
                </ui-select-choices>
            </ui-select>
            <p>Selected: {{article.variantArticles}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
